body {
    background-image: url("../static/img/fundoamarelo.jpg");
    background: rgb(0, 0, 0);
}

h1 {
    color:#f7f8f9 ;
    font: size 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
    #gallery {
        background-color: #fff;
        padding: 10px;
        width: auto;
    }
    #gallery ul { list-style: none; }
    #gallery ul li { display: inline; }
    #gallery ul img {
        border: 5px solid #000000;
        border-width: 5px 5px 20px;
    }
    #gallery ul a:hover img {
        border: 5px solid #fff;
        border-width: 5px 5px 20px;
        color: #fff;
    }
    #gallery ul a:hover { color: #fff; }

    .foto{
        width: 5px;;
        height: 5px;
        position: relative;
      }
      .blog-item {
        transition: all 0.3s ease-in-out;
        background-color: #f7f8f9;
        border-radius: 3px;
        overflow: hidden; }
        .blog-item:hover {
          box-shadow: 0 5px 15px -5px #333;
          transform: translateY(-6px);
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          transform: translateY(-6px);
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15); }
      .bg-grey .blog-item {
        background-color: #fff; }
      
      .blog-item-wrapper {
        margin-bottom: 30px; }
      
      .blog-img img {
        width: 100%;
        height: 250px;
        object-fit: cover; }

    
.blog-title h4 {
    color: #000; }
  
  .blog-text {
    padding: 15px; }
  
  .blog-tag {
    color: #000;
    letter-spacing: 1.1px;
    text-transform: uppercase; }
  
  .blog-meta {
    color: #939393; }
    .blog-meta p {
      display: inline-block;
      font-size: 14px; }
    .blog-meta a {
      color: #939393; }
  
  .blog-author {
    display: inline-block;
    color: #939393; }
    .blog-author p {
      font-size: 14px;
      margin-bottom: 0; }
  
  .blog-share-wrapper {
    display: inline-block;
    margin: 0 -5px; }
    .blog-share-wrapper .blog-share {
      padding: 0 5px;
      cursor: pointer; }

