*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
  }
  .btn{
    background: none;
    color: #111;
    padding: 15px 60px;
    font-size: 1em;
    margin: 20px auto;
    max-width: 200px;
    display: block;
    outline: none;
    border: 2px solid #111;
    cursor: pointer;
  }
  .container{
    margin: 0 auto;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
  }
  .box{
    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    background: #f00;
    align-items: center;


  }