<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" > <!-- Definição do Charset-->
       <title>Album</title>
 
       <script src="js/jquery-1.7.2.min.js"></script>
       <script src="js/lightbox.js"></script>
 
       <link href="../static/css/album.css" rel="stylesheet" />
 
    </head>
     
    <body>
       <center><h1><b>Album de Fotos</b></h1></center>
<div class="row">
    <!-- Blog -->
<div class="col-md-12 blog-holder">
<div class="row">
            <!-- Blog Item -->
<div class="col-md-4 blog-item-wrapper">
<div class="blog-item">
<div class="blog-img">
        <a href="abobrinha.html"><img src="../static/img/gato.jpg" alt=""></a>
    </div>
    <div class="blog-text">
    <!-- <div class="blog-tag">
            <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
    </div> -->
    <div class="blog-title">
       <center><a href="abobrinha.html"><button>upload</button>
            <a href="abobrinha.html"><button>girar</button>
         <!-- <p class="blog-comment"><a href="">22 Agosto 2022</a></p> -->
    </center></div>
    <div class="blog-meta">
            <!-- <p class="blog-comment"><a href="">Agosto 2022</a></p> -->
    </div>
        <div class="blog-meta">
                    
        
        </div>
        <!-- <div class="blog-desc">
        <p>Primeira atividade utilizando o ambiente virtual e flask</p>
        </div>   -->         
                
        </div>
        </div>
        </div>
            <!-- End of Blog Item -->



            <!-- Blog Item -->
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
                <a href="ucurricular.html"><img src="../static/img/girassol.jpg" alt=""></a>
         </div>
        <div class="blog-text">
        <!-- <div class="blog-tag">
                <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
        </div> -->
        <div class="blog-title">
           <center><a href="abobrinha.html"><button>upload</button>
                <a href="abobrinha.html"><button>girar</button>
             <!-- <p class="blog-comment"><a href="">22 Agosto 2022</a></p> -->
        </center></div>
        <div class="blog-meta">
                <!-- <p class="blog-comment"><a href="">Agosto 2022</a></p> -->
        </div>
        <div class="blog-desc">
               
        </div>   
        </div>
        </div>
        </div>
            <!-- End of Blog Item -->

        <!-- Blog Item -->
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
                <a href="Form.html"><img src="../static/img/pais.jpg" alt=""></a>
            </div>
            <div class="blog-text">
            <!-- <div class="blog-tag">
                    <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
            </div> -->
            <div class="blog-title">
               <center><a href="abobrinha.html"><button>upload</button>
                    <a href="abobrinha.html"><button>girar</button>
                 <!-- <p class="blog-comment"><a href="">22 Agosto 2022</a></p> -->
            </center></div>
            <div class="blog-meta">
                    <!-- <p class="blog-comment"><a href="">Agosto 2022</a></p> -->
            </div>
        <div class="blog-desc">
               
         </div>
         </div>
         </div>
         </div>



        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
                <a href="#"><img src="../static/img/paisagem.jpg" alt=""></a>
            </div>
            <div class="blog-text">
            <!-- <div class="blog-tag">
                    <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
            </div> -->
            <div class="blog-title">
               <center><a href="abobrinha.html"><button>upload</button>
                    <a href="abobrinha.html"><button>girar</button>
                 <!-- <p class="blog-comment"><a href="">22 Agosto 2022</a></p> -->
            </center></div>
            <div class="blog-meta">
                    <!-- <p class="blog-comment"><a href="">Agosto 2022</a></p> -->
            </div>
    
        </div>
        </div>
        </div>
        </div>



        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
                    <a href="calbin.html"><img src="../static/img/balao.jpg" alt=""></a>
                </div>
                <div class="blog-text">
                <!-- <div class="blog-tag">
                        <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
                </div> -->
                <div class="blog-title">
                   <center><a href="abobrinha.html"><button>upload</button>
                        <a href="abobrinha.html"><button>girar</button>
                     <!-- <p class="blog-comment"><a href="">22 Agosto 2022</a></p> -->
                </center></div>
                <div class="blog-meta">
                        <!-- <p class="blog-comment"><a href="">Agosto 2022</a></p> -->
                </div>
        <div class="blog-desc">
    
        </div>
        </div>
        </div>
        </div>
            <!-- End of Blog Item -->

 


</div>
</div>
</div>
</div>
</div>
</section>
</body>
 
</html>