<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PORTIFOLIO</title>
    <meta name="description" content="Core HTML Project">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="../staticvendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="..static/vendor/lightcase/lightcase.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="../static/icons/animat-checkmark.gif">
    <link rel="stylesheet" href="../static/icons/animat-customize.gif">
    <link rel="stylesheet" href="../static/icons/animat-responsive.gif">
    <link rel="stylesheet" href="../static/img/">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/static/icon-font.min.css">
    <link href="https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/icons.css" rel="stylesheet">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="../static/js/app.min.js"></script>
</head>

<body data-spy="scroll" data-target="#navbar-nav-header" class="static-layout">
	<div class="boxed-page">
	<nav id="gtco-header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
            
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
    <span class="lnr lnr-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-nav-header">
    </div>
    </div> 
</nav>	

<div class="jumbotron d-flex align-items-center" style="background-image: url(../static/img/python.jpg)">
<div class="container text-center">
<img class="foto" src="../static/img/user.jpeg">  
<h1 class="display-2 mb-4"><b><b>Portifolio de<br> Tópicos Especias em Tecnologia da Informação</b></b></h1>
<p>
<b><b><b>por Karla Karoliy Silva Souza</b></b></b>
</p>
</div>
</div>		<section id="gtco-who-we-are" class="bg-white">

<div class="container">
<div class="section-content">
<div class="title-wrap">
<h2 class="section-title">Atividades realizadas semanalmente<br>em linguagem Python.</b></h2>
<p class="section-sub-title"> <b>Carga Horária Semanal: 4 h/a <br>
Carga Horária Semestral: 80 h/a<br>
EMENTA: Ementa variável, focalizando tópicos relacionados com tecnologias, aplicações, produtos, metodologias e ferramentas de desenvolvimento de software e hardware.</b></p>
</div>
            
<div class="row text-center">
<div class="col-md-4 col-sm-6 ">
<img class="rounded-circle" src="../static/icons/animat-checkmark.gif" alt="Generic placeholder image" width="140" height="140">
<h5 class="mb-4">INSTALANDO PYTHON</h5>
<p> COMANDOS: su root -->
senha -->
apt-get install python3-venv -->
exit -->
cd Documentos -->
mkdir tads
</p>
</div>

<!-- /.col-md-4 col-sm-6  -->
<div class="col-md-4 col-sm-6 ">
<img class="rounded-circle" src="../static/icons/animat-customize.gif" alt="Generic placeholder image" width="140" height="140">
<h5 class="mb-4">AMBIENTE VIRTUAL</h5>
<p>COMANDOS: python 3 -m venv teti-venv -->
ls -->
source tetivenv/bin/activate (ativar ambiente toda aula) -->
deactivate (sair do ambiente)
</p>
</div>
               
<!-- /.col-md-4 col-sm-6  -->
<div class="col-md-4 col-sm-6 ">
<img class="rounded-circle" src="../static/icons/animat-responsive.gif" alt="Generic placeholder image" width="140" height="140">
<h5 class="mb-4">FLASK</h5>
<p>COMANDOS: pip install flask -->
export FLASK_APP=app.py -->
echo $FLASK_APP -->
flask run -->
export FLASK_ENV=development -->
echo $FLASK_ENV
</p>
</div>               
<!-- /.col-md-4 col-sm-6  -->
</div>
<!-- /.row -->
</div>
</div>
</section>		<!-- Counter Section -->


<section id="gtco-counter" class="overlay bg-fixed">
<div class="container">
<div class="section-content">
<div class="row">

<!-- Counter Item -->
<div class="col-md-3 col-sm-6 counter-item">
<i class="lnr lnr-users"></i>
<span class="number" data-from="0" data-to="34" data-refresh-interval="100">1</span>
<h4>Usuário</h4>
</div>
<!-- End of Counter Item -->
<!-- Counter Item -->
<div class="col-md-3 col-sm-6 counter-item">
<i class="lnr lnr-briefcase"></i>
<span class="number" data-from="0" data-to="32" data-refresh-interval="100">06</span>
<h4>Atividades</h4>
</div>
<!-- End of Counter Item -->
<!-- Counter Item -->
<div class="col-md-3 col-sm-6 counter-item">
<i class="lnr lnr-heart"></i>
<span class="number" data-from="0" data-to="38" data-refresh-interval="100">06</span>
<h4>Feedback Positivo</h4>
</div>
<!-- End of Counter Item -->
<!-- Counter Item -->
<div class="col-md-3 col-sm-6 counter-item">
<i class="lnr lnr-rocket"></i>
<span class="number" data-from="0" data-to="29" data-refresh-interval="100">06</span>
<h4>Concluidas</h4>
</div>
<!-- End of Counter Item -->
</div>
</div>
</div>
</section>

    
<section id="gtco-blog" class="bg-grey">
    <div class="container">
    <div class="section-content">
    <div class="title-wrap mb-5">
    <h2 class="section-title">Projeto: <b>Atividades da semana</b></h2>
    <p class="section-sub-title"><b>Acesse as atividades semanais de Julho até Dezembro</b></p>
</div>
        <div class="row">
        <!-- Blog -->
        <div class="col-md-12 blog-holder">
        <div class="row">
        <!-- Blog Item -->
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="abobrinha.html"><img src="../static/img/abobrinha.jpeg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="#"><h6><small><b>SEMANA 01</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="abobrinha.html"><h4>Atividade em Python "Abobrinha"</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Primeira atividade utilizando o ambiente virtual e flask</p>
        </div>           
        </div>
        </div>
        </div>
<!-- End of Blog Item -->



        <!-- Blog Item -->
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="ucurricular.html"><img src="../static/img/uc.png" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="#"><h6><small><b>SEMANA 02</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="ucurricular.html"><h4>HTML da Unidade Curricular</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p> Pagina em HTML da unidade curricular da disciplina de Topicos de Linguagem da Tecnologia da Informacao</p>
        </div>   
        </div>
        </div>
        </div>
<!-- End of Blog Item -->

        <!-- Blog Item -->
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="Form.html"><img src="../static/img/nome.png" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="#"><h6><small><b>SEMANA 03</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="Form.html"><h4>Cadastrar Nome(user)</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Cadastrar um nome e aparecer cadastrado em python</p>
        </div>
        </div>
        </div>
        </div>



        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/calculadora.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="calculadora.html"><h6><small><b>SEMANA 04</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="calculadora.html"><h4>Calculadora Alfanumerica</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Fazer a calculadora com python e
        acrescentar nessa calculadora conversão de decimal para binário
        criar outra calculadora em alfanumérica capaz de converter qualquer texto em binário
        </p>
        </div>
        </div>
        </div>
        </div>



        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="calbin.html"><img src="../static/img/binario.jpeg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="#"><h6><small><b>SEMANA 05</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="calbin.html"><h4>Calculadora Binaria</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>O binário gerado na calculadora, tem que ser convertido em array em duas dimensões (480 colunas e o número de linhas que for necessário)
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item -->

        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/portifolio.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="teti_karla.html"><h6><small><b>SEMANA 06</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="teti_karla.html"><h4>Formulario do Portifolio</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Agosto 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Formulario do portifolio com as atividades semanais de acordo com o professor
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item -->  
                        
                        
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/div.png" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="div.html"><h6><small><b>SEMANA 07</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="div.html"><h4>Criar DIVs</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Setembro 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Criar div 512x512 de 1px, cada uma com id diferente, 2 arrays de dimensão e coloridas
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item -->  

        <div class="col-md-4 blog-item-wrapper">
         <div class="blog-item">
         <div class="blog-img">
         <a href="#"><img src="../static/img/divdiv.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="divdiv.html"><h6><small><b>SEMANA 08</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="divdiv.html"><h4>Gerador de DIVs aleatórias</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Setembro 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Criar div 512x512 de 1px, cada uma com id diferente, 2 arrays de dimensão e coloridas</p>
        </div>
        </div>
        </div>
        </div>
  <!-- End of Blog -->
   
                
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/album.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="album.html"><h6><small><b>SEMANA 09</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="album.html"><h4>Albúm de Fotos</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Outubro 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Criar albúm de fotos para donwload e fazer a rotação dessa imagem
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item -->  

            
        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/album2.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
        <a href="album2.html"><h6><small><b>SEMANA 09</b></small></h6></a>
        </div>
        <div class="blog-title">
        <a href="album2.html"><h4>Albúm de Fotos Two</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Outubro 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Criar albúm de fotos para donwload e fazer a rotação dessa imagem
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item -->  




        <div class="col-md-4 blog-item-wrapper">
        <div class="blog-item">
        <div class="blog-img">
        <a href="#"><img src="../static/img/token.jpg" alt=""></a>
        </div>
        <div class="blog-text">
        <div class="blog-tag">
         <a href="apiteti.html"><h6><small><b>SEMANA 10</b></small></h6></a>
        </div>
        <div class="blog-title">
         <a href="apiteti.html"><h4>Token</h4></a>
        </div>
        <div class="blog-meta">
        <p class="blog-comment"><a href="">Novembro 2022</a></p>
        </div>
        <div class="blog-desc">
        <p>Criar ROTA COM NOME API TETI QUE RECEBE UM DADO STRING COMO PARAMETRO VIA POST, COM PARAMETRO CHAMADO TOKEN
        </p>
        </div>
        </div>
        </div>
        </div>
<!-- End of Blog Item --> 


    
    <div class="col-md-4 blog-item-wrapper">
    <div class="blog-item">
    <div class="blog-img">
    <a href="#"><img src="../static/img/getdata.jpg" alt=""></a>
    </div>
    <div class="blog-text">
    <div class="blog-tag">
    <a href="getdata.html"><h6><small><b>SEMANA 11</b></small></h6></a>
    </div>
    <div class="blog-title">
    <a href="getdata.html"><h4>GetData</h4></a>
    </div>
    <div class="blog-meta">
    <p class="blog-comment"><a href="">Novembro 2022</a></p>
    </div>
    <div class="blog-desc">
    <p>Criar ROTA COM NOME GETDATA
    </p>
    </div>
    </div>
    </div>
    </div>
<!-- End of Blog Item --> 



    <div class="col-md-4 blog-item-wrapper">
    <div class="blog-item">
    <div class="blog-img">
    <a href="#"><img src="../static/img/usuario.jpg" alt=""></a>
    </div>
    <div class="blog-text">
    <div class="blog-tag">
    <a href="usuario.html"><h6><small><b>SEMANA 12</b></small></h6></a>
    </div>
    <div class="blog-title">
    <a href="usuario.html"><h4>Usuario</h4></a>
    </div>
    <div class="blog-meta">
    <p class="blog-comment"><a href="">Novembro 2022</a></p>
    </div>
    <div class="blog-desc">
    <p>Criar ROTA COM NOME USUARIO
    </p>
    </div>
    </div>
    </div>
    </div>
<!-- End of Blog Item --> 
    


    <div class="col-md-4 blog-item-wrapper">
    <div class="blog-item">
    <div class="blog-img">
    <a href="#"><img src="../static/img/triangulo.jpg" alt=""></a>
    </div>
    <div class="blog-text">
    <div class="blog-tag">
    <a href="triangulo.html"><h6><small><b>SEMANA 13</b></small></h6></a>
    </div>
    <div class="blog-title">
    <a href="triangulo.html"><h4>Triangulo</h4></a>
    </div>
    <div class="blog-meta">
    <p class="blog-comment"><a href="">Novembro 2022</a></p>
    </div>
    <div class="blog-desc">
    <p>Criar ROTA COM NOME TRIANGULO QUE RECEBE AS MEDIDAS DO LADOS E MOSTRE O MAIOR
    </p>
    </div>
    </div>
    </div>
    </div>
<!-- End of Blog Item --> 



    <div class="col-md-4 blog-item-wrapper">
    <div class="blog-item">
    <div class="blog-img">
    <a href="#"><img src="../static/img/carro.jpg" alt=""></a>
    </div>
    <div class="blog-text">
    <div class="blog-tag">
    <a href="carro.html"><h6><small><b>SEMANA 14</b></small></h6></a>
    </div>
    <div class="blog-title">
    <a href="carro.html"><h4>Carro</h4></a>
    </div>
    <div class="blog-meta">
    <p class="blog-comment"><a href="">Novembro 2022</a></p>
    </div>
    <div class="blog-desc">
    <p>Criar ROTA COM NOME CARRO
    </p>
    </div>
    </div>
    </div>
    </div>
<!-- End of Blog Item --> 


</div>
</div>
</div>
</div>
</div>
</section>           
</section>		
<!-- Client Section -->
<section id="gtco-client" class="bg-white">
<div class="container">
<div class="section-content">
<!-- Section Title -->
<div class="title-wrap">
<h2 class="section-title">
<img class="img-responsive" src="../static/img/ifms.png" alt=" "><b> </b> 
</h2>
</div>
<!-- End of Client Item -->

</div>
</div>
</div>
</div>
</section>
<!-- End of Client Section -->		
<footer class="mastfoot mb-3 bg-white py-4 border-top">
<div class="inner container">
<div class="row">
<div class="col-md-6 d-flex align-items-center justify-content-md-start justify-content-center">
<p class="mb-0"><b>&copy; 2022, Karla Karoliny Silva Souza.<br> All Right Reserved.<br> Design by <a href="https://gettemplates.co" target="_blank">karlasouza</b>.</p>
</div>
</div>
</div>
</footer>	
</div>
	
</div>
<!-- External JS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="../static/vendor/bootstrap/popper.min.js"></script>
<script src="../static/vendor/bootstrap/bootstrap.min.js"></script>
<script src="../static/vendor/select2/select2.min.js "></script>
<script src="../static/vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="../static/vendor/isotope/isotope.min.js"></script>
<script src="../static/vendor/lightcase/lightcase.js"></script>
<script src="../static/vendor/waypoints/waypoint.min.js"></script>
<script src="../static/vendor/countTo/jquery.countTo.js"></script>

<!-- Main JS -->
<script src="../static/js/app.min.js "></script>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
