HTML 1
<!DOCTYPE html>
<html lang="en">
<head>
<title>ROTA HOME</title>
<center>
<h2>Preencha o formulário a seguir:</h2>
<form method="POST" action="/user">
<input type="text" name="nome" placeholder="Digite seu nome aqui">
<input type="submit" name="enviar" value="Enviar">    
</form>
</center>
</body>
</html>
--------------------------------------------------------------------
HTML 2
<!DOCTYPE html>
<html lang="en">
<head>
<title>ROTA HOME</title>
<center>
<h2>Usuario cadastrado com sucesso!</h2>
<p>{{nome}}</p>
</center>
</body>
</html>