
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python </title>
    <link rel="stylesheet" type="teti_karla/css" href="teti_karla.css">
    

</head>
<body>
    

    <center><h2>TADS 6 - Tópicos Especiais em Tecnologia da Informação (PYTHON)</h2></center>
    <fieldset> 
        <center><legend>Atividades da Semana</legend></center>
        <br>
            <form></form> 
                <label>Semana 01</label> 
                <input type="text" name="nome" placeholder="Drescreva aqui">
                <br>
                <label>Semana 02</label> 
                <input type="text" name="nome" placeholder="Descreva aqui">
                <br>
                <label>Semana 03</label> 
                
                <ol>Texto em HTML: 10*4</ol>
                <ol>Executar Código em Python: 40 </ol>
                <ol>Retornar e capturar valor de variavel Python</ol>
                    <li>1 - Karla</li>
                    <li>2 - Karoliny</li>
                    <li>3 - Souza</li>
                
                <ol>Retornar e capturar valores de uma lista</ol>
                    <li>1 - Karla</li>
                    <li>2 - Karoliny</li>
                    <li>3 - Souza</li>
                <input type="text" name="nome" placeholder="Digite novo nome">
                <input type="submit" name="enviar" value="Adicionar"> 

                <ol>Retornar e capturar valores de um dicionario</ol>
                    <li> * Karla</li>
                    <li> * Karoliny</li>
                    <li> * Souza</li>
                <input type="text" name="nome" placeholder="Digite novo nome">
                <br>
                <input type="text" name="nome" placeholder="Digite nota">
                <input type="submit" name="enviar" value="Adicionar"> 
                <br>


                <br>
                <label>Semana 04</label> 
                <input type="text" name="nome" placeholder="Drescreva aqui">
                <br>

            

                <label>Data de inico</label> 
                <input type="date"> 
                <br>
                <label>Data de termino</label> 
                <input type="date"> 
                <button>Save</button> 
            
    </fieldset>

</body>
</html>