<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidade Curricular {{30+40}}</title>
    <link rel="coluna.css">

</head>
<body>
    <div>
       
    <center>
    <img src="https://cursoslivres.ifms.edu.br/pluginfile.php/1/theme_moove/logo/1653670168/ifms_marca_2015_RGB%20%281%29%20%282%29.png">
    </center>

    <fieldset><form>
    <h2> Unidade Curricular: TÓPICOS ESPECIAIS EM TECNOLOGIA DA INFORMAÇÃO </h2>
    
<p>
<h5>Carga Horária Semanal: 4 h/a Carga Horária Semestral: 80 h/a
<br>
EMENTA: Ementa variável, focalizando tópicos relacionados com tecnologias, aplicações, produtos,
metodologias e ferramentas de desenvolvimento de software e hardware.
<br>
BIBLIOGRAFIA BÁSICA
<br>
BIBLIOGRAFIA COMPLEMENTAR</h5></p>
</div>
</form></fieldset>
</body>
</html>


